:root {
  --blue: #0a0c19;
  --dark-violet: #1b1938;
  --violet: #aa5cdb;
  --white: #fff;
  --off-white: #dcdcdc;
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Lexend Deca", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
}

.card {
  height: 60vh;
  width: 70%;
  display: flex;
  overflow: hidden;
  border-radius: 25px;
}

.card__text {
  height: 100%;
  width: 50%;
  background-color: var(--dark-violet);
  color: var(--white);
  font-family: var(--primary-font);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
}

.card__title > h1 {
  margin-bottom: 25px;
}

.card__title > h1 > span {
  color: var(--violet);
}
.card__image {
  height: 100%;
  width: 50%;
  position: relative;
}

.card__image > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left;
  filter: grayscale(1);
}

.card__stat {
  display: flex;
  gap: 25px;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: var(--violet);
  opacity: 0.5;
  position: absolute;
  z-index: 50;
}

@media only screen and (max-width: 1200px) {
  .card__text {
    width: 70%;
  }

  .card__image {
    width: 30%;
  }
}

@media only screen and (max-width: 800px) {
  .card {
    flex-direction: column-reverse;
    height: 80vh;
  }
  .card__title > h1 {
    font-size: 12px;
  }
  .card__text {
    width: 100%;
    padding: 25px;
  }

  .card__image {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .card {
    flex-direction: column-reverse;
    height: 80vh;
    width: 80%;
  }
  .card__text {
    width: 100%;
    padding: 25px;
    height: 70%;
  }

  .card__image {
    width: 100%;
    height: 30%;
  }
}
